//- We display these in reverse so that the interfaceIcons are always on the
//- right, even if the other stuff is hidden

.interface-icons
  img.help-button.header-button(title="Show information about the interface" src=infoIcon)
  img.hamburger-button.header-button(title="Main Menu" src=hamburgerIcon)

.project-header
  img.project-visibility.header-button(title="See/change who can see the project you're working on" src=privacyIcon)
  span.project-name(contentEditable="true" max-width="30em" title="Rename this project")= filename
  .project-icons

.branding-icons
  img.about-reslab.header-button(title="About Resonant Lab" src=reslabBanner)
